* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;

}

body {
    font-family: 'Poppins', sans-serif;
}

/* Header section */

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    align-items: center;
    overflow: hidden;
}

header img {
    width: 20%;
    max-width: 270px;
    margin-left: 250px;
}

header p {
    text-align: center;
    padding: 5px;
    width: 100%;    
    margin-right: 350px;
    font-size: 25px;
    text-transform: uppercase;
    color:#0168b3;
    margin-top: 30px;
    line-height: 30px;
    font-weight: 500;
}

header a {
        text-decoration: none;
}

header span {
    font-weight: 900;
    font-size: 30px;
}

/* Background image section */

.background {
    margin: 0;
    width: 100%;
}

.background img {
    width: 100%;
}

/* Articles section */

.articles {
    display: flex;
    margin: 0;
    justify-content: space-around;
    padding: 50px 0;
}


.articles div {
    flex-basis: 20%;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.articles p {
    width: 70%;
}

.articles h2 {
    text-transform: uppercase;
}

.articles h2, .articles p {
    padding: 10px;
}

.blue {
    margin-left: 200px;
}

.blue h2 {
    color:#0168b3;
}

.red {
    margin-right: 200px;
}

.red h2{
    color: #BB0000;
}

.yellow h2{
    color:#44544c;
}

/* Servis section */

.servis * {
    
    padding: 5px
}

.servis {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0;
    line-height: 30px;
    color:#0168b3;
}

.servis h1 {
    font-size: 50px;
    letter-spacing: 1px;
}

.servis > p > span {
    font-size: 21px;
    letter-spacing: 1px;
}

.servis p {
    font-weight: 550;
}

.servis img {
    margin: 20px 0;
}

/* Montujeme section */

.montujeme {
    padding: 50px 0;
    line-height: 30px;
    background-image: linear-gradient(#e6e6e6, white);
    background-repeat: no-repeat;
    background-size: 100% 60%;
}

.montujeme div {
    color:#0168b3;
    text-align: center;    
    font-weight: 550;
}

.montujeme > div > h1 {
    font-size: 50px;
    letter-spacing: 1px;    
    padding: 5px;
}

.montujeme > div > p > span {
    font-size: 21px;
    letter-spacing: 1px;
    padding: 5px;
}

.montujeme > div > img {
    padding: 30px;
    margin-top: 40px;
}

/* Reference section */

.reference {
    padding: 50px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(#e6e6e6, white);
    background-repeat: no-repeat;
    background-size: 100% 60%;
}

.reference-div1 {
    text-align: center;
    color:#0168b3;
    font-weight: 550;
}

.reference-div1 > p {
    font-size: 21px;
    letter-spacing: 1px;
    padding: 5px;
}

.reference-h1 {
    line-height: 30px;
    font-size: 50px;
    letter-spacing: 1px;
}

.reference-div2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}

.reference-img {
    width: 100%;
}

.reference-a {
    transition: all 0.5s ease;
    width: 45%;
    padding: 5px;
}

.reference-a:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.reference-a:focus {
    transform: scale(2);
    position: fixed;
    bottom: 1%;
}

.reference-a:focus {
    transform: scale(1.4);
    position: fixed;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    margin-left: auto;
    margin-right: auto;
    top: calc(-50vh + 50%);
    bottom: calc(50vh + 50%);
}


@media(max-width: 450px) {
    html {
        width: 100%;
    }

    body {        
        overflow-x: hidden;
    }

    header {
        width: 100%;
        justify-content: space-around;
        align-content: center;
    }

    header img {
        width: 30%;
        margin: 0;
    }

    header p {
        text-align: center;
        padding: 5px;
        width: 100%;
        font-size: 15px;
        text-transform: uppercase;
        color:#0168b3;
        margin-top: 0;
        margin-right: 0px;
        line-height: 30px;
    }
    

    header > a > p > span {
        font-size: 25px;
    }

    .articles {
        flex-direction: column;
    }

    .blue {
        margin-left: 0;
    }

    .red {
        margin-right: 0;
    }

    .background {
        text-align: center;
    }

    .background img {
        content: url("img/background2.JPG");
        width: 100%;
    }

    .servis img {
        width: 90%;
    }
    
    .servis {text-align: center;
    }

    .montujeme {
        background-size: 100% 40%;
    }

    .montujeme > div > img {
        margin-top: 0;
    }
}